.leftnavbar {
	background-color: #363434;
	bottom: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 280px;
	z-index: 1000;
	.uk-nav-default>li>a:focus, .uk-nav-default>li>a:hover {
		color: #62929a;
	}
	.icon {
		color: #62929a;
	}
	
	.heading {
		background-color: #2c2828;
		height: 80px;
		h4 {
			color: white;
			padding: 30px 0px 30px 30px;
			span {
				color: #62929a;
			}
		}
	}
	.uk-nav-default{
		margin-top: 40px;
		padding: 0px 30px;
	}
	.uk-active {
		a {
			color: white !important;
		}
	}
	li {

		a {
			color: white;
		}
		.uk-nav-sub{
			a{
				color: white;
				&:hover{
					color: #62929a;
				}
			}
		}
	}
	.uk-nav-parent-icon>.uk-parent>a::after {
		color: white;
	}
}
